@import "../../../app.scss";

.chat{
  width: 100%;
  ul {
    padding: 0;
    list-style: none;
  }
  .submit-btn {
    &:hover {
      color: $white;
    }
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 4);
    }
    color: $white;
    border-radius: 0;
  }
}
