@import "~app.scss";
.input-barrette-wrap {
  position: relative;
  width: 168px;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 78px;
    bottom: -18px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $primary;
  }
}
.input-barrette {
  background-color: $primary;
  padding: 10px;
  width: 162px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  input {
    border-radius: 0;
  }
}
.city-name, .city-name a {
  text-decoration: none;
  color: $white;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  font-size: 18px;
}
@media only screen and (max-width: $mobile-limit+px) {
  .input-barrette-wrap {
    position: relative;
    &:before {
      left: 71px;
      bottom: -20px;
    }
  }
}
