@import "~app.scss";
.input-barrette {
  background-color: $black;
  padding: 10px 30px !important;
  width: 162px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  input {
    border-radius: 0;
  }
}
.city-name, .city-name a {
  text-decoration: none;
  color: $white;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  font-size: 24px;
}
.input-barrette {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 72px;
    bottom: -18px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $black;
  }
}
