@import "~app.scss";
.login-form {
  padding-top: 10px;
  float: none !important;
  margin: 0 auto;
  background-color: white;
  .forgot-password {
    a {
      color: $primary;
    }
    a:hover {
      color: darken($primary, 5);
      text-decoration: none;
    }
  }
}
.login-spinner {
  position: absolute;
  left: 50%;
  z-index: 1000;
  top: 50%;
}

