$mobile-limit: 1000;

$black: #0d0d0d;
$light-black: lighten(#1c1c1c,3);
$yellow: #fed136;
$error: #ff9494;
$white: #f9f9f9;


$grey: #dcdcdc;
$green: #38ae62;

/*----FONTS----*/
html, body, input, textarea, select, button {
  font-family: 'PT Mono', monospace;
}
.main-content {
  padding-top: 40px;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}

// functions
@mixin transition($prop, $time) {
  -webkit-transition: $prop ease-out $time;
  -moz-transition: $prop ease-out $time;
  -o-transition: $prop ease-out $time;
  transition: $prop ease-out $time;
}
@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
}
@mixin mirror() {
  -moz-transform:    scaleX(-1); /* Gecko */
  -o-transform:      scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform:         scaleX(-1); /* Standard */
}
@mixin mirrorY() {
  -moz-transform:    scaleY(-1); /* Gecko */
  -o-transform:      scaleY(-1); /* Opera */
  -webkit-transform: scaleY(-1); /* Webkit */
  transform:         scaleY(-1); /* Standard */
}
// styles itself
.main-content {
  @include transition(padding-top, .3s);
  padding-top: 40px;
  .right-col {
    .width-100 {
      @include transition(margin-top, .3s);
      margin-top: 0;
    }
  }
}
.city-picked {
  .main-content {
    padding-top: 80px;
    .right-col {
      .width-100 {
        margin-top: -90px;
      }
    }
  }
}
