@import "../../../app.scss";
$colorOfMark: rgba(255, 255, 255, .5);
.football-field-wrapper {
  &.football-field-wrapper-mini {
    background: #0781c4 !important;
  }
  .football-field.mini-field {
    .half-circle-wrapper, .penalty-cage {
      display: none;
    }
    .penalty-cage-1 {
      border-radius: 0 0 80px 80px;
      width: 280px;
      height: 80px;
      left: calc(50% - 140px);
    }
  }
  .penalty-cage {
    border: solid 1px $colorOfMark;
    border-top: none;
    position: absolute;
    width: 90px;
    height: 30px;
    left: calc(50% - 45px);
  }
  .half-circle-wrapper {
    overflow: hidden;
    left: calc(50% - 75px);
    position: absolute;
    width: 150px;
    height: 50px;
    top: 80px;
  }
  .half-circle {
    width: 150px;
    height: 100px;
    position: absolute;
    top: -77px;
    left: calc(50% - 75px);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 1px solid $colorOfMark;
    border-bottom: 0;
    @include rotate(180deg);
  }
  .penalty-cage-1 {
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-top: none;
    position: absolute;
    width: 200px;
    height: 80px;
    left: calc(50% - 100px);
  }
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/img/field-pattern.png) right bottom repeat;
  margin-bottom: 20px;
  .center {
    border: solid 1px $colorOfMark;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -60px;
    margin-top: -60px;
    .point {
      width: 8px;
      height: 8px;
      background-color: rgba(255, 255, 255, .8);
      position: absolute;
      border-radius: 100%;
      top: calc(50% - 4px);
      right: calc(50% - 4px);
    }
  }
  .north-socket, .south-socket {
    .cage{
      background-color: rgba(255,255,255, .2);
    }
    height: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .north-socket {
    .cage {
      width: 40px;
      display: flex;
      justify-content: center;
      border: solid 1px $colorOfMark;
      border-bottom: none;
      position: relative;
      top:6px;
      height: 12px;
    }
  }
  .south-socket {
    transform: rotate(180deg);
    .cage {
      width: 40px;
      display: flex;
      justify-content: center;
      border: solid 1px $colorOfMark;
      border-bottom: none;
      position: relative;
      top:6px;
      height: 12px;
    }
  }
  .football-field {
    overflow: hidden;
    width: 400px !important;
    .tactic-line {
      img {
        position: relative;
        z-index: 1000;
        cursor: pointer;
      }
      &:last-child {
        width: 60%;
        margin: 0 auto;
      }
      align-items: center;
      svg {
        cursor: pointer;
      }
      display: flex;
      justify-content: space-evenly;
      height: auto;
      width: 100%;
    }
    position: relative;
    .left-bottom-corner, .left-top-corner, .right-bottom-corner, .right-top-corner {
      position: absolute;
      width: 25px;
      height: 25px;
      margin: -1px 0 1px 0;
      border-radius: 45%;
      box-shadow: 1px 1px 0 0 $colorOfMark;
    }
    .left-top-corner{
      left: -13px;
      top: -13px;
    }
    .left-bottom-corner{
      left: -13px;
      bottom: -13px;
      @include rotate(275deg);
    }
    .right-top-corner {
      right: -13px;
      top: -13px;
      @include rotate(90deg);
    }
    .right-bottom-corner {
      right: -13px;
      bottom: -13px;
      @include rotate(170deg);
    }
    .football-field-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -55px;
      width: 110px;
      height: 110px;
      background-size: 100%;
      margin-left: -55px;
    }
    border: solid 1px $colorOfMark;

    .north-side {
      border-bottom: none !important;
      background-size: 60%;
    }
    .south-side {
      .tactic-line {
        img {
          @include mirrorY();
        }
      }
      border-bottom: solid 1px $colorOfMark;
      background-size: 60%;
      @include rotate(180deg);
    }
    .lines-4 {
      .tactic-line {
        height: 25%;
      }
    }
    .lines-2 {
      .tactic-line {
        height: 50%;
      }
    }
    .lines-3 {
      .tactic-line {
        height: 33%;
      }
    }
    .lines-5 {
      .tactic-line {
        height: 20%;
      }
    }
    .lines-6 {
      .tactic-line {
        height: 17%;
      }
    }
    .lines-7 {
      .tactic-line {
        height: 14%;
      }
    }
  }
  > div p {
    font-weight: bold;
    color: $colorOfMark;
  }
  background-color: $green;
}
