@import "~app.scss";

.game-item{
  cursor: pointer;
  display: flex;
  padding: 0 16px;
  margin: 0 -16px;
  &:nth-child(even) {background-color: #fff}
  &:nth-child(odd) {background-color: lighten($grey, 10);}
  &:hover{
    background-color: lighten($grey, 7);
  }
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
  border: solid 1px $grey;
  margin-top: -1px;
  &:first-child {
    margin-top: 0;
  }
  .label {
    display: none;
  }
  > div {
    padding: 10px;
  }
}
@media only screen and (min-width: $max-with) {
  .game-item {
    > div {
      &:first-child {
        width: 30%;
      }
      &.address {
        width:30%;
      }
      width: 30%;
      &:last-child {
        width: 20%;
      }
    }
  }
}
@media only screen and (max-width: $min-with) {
  .game-item{
    margin:0;
  }
  .game-item {
    background-color: lighten($grey, 10);
    &:hover{
      background-color:  lighten($grey, 7);
    }
    .label{
      font-size: 10px;
      color: $black;
      display: grid;
    }
    display: grid;
    grid-template-columns: auto auto auto;
    div {
      color: $primary;
    }
  }
}
