@import "../../app.scss";

.game-sessions-greed {
  table {
    th, td {
      font-size: 1em;
      justify-content: left;
      text-align: left;
    }
    tbody{
      tr {
        cursor: pointer;
        &:hover {
          background-color: darken(white, 5);
        }
      }
    }
  }
}
