.list-header {
  th {
    padding-left: 20px;
    font-size: 10px;
    font-weight: normal;
  }
}
.games-list {
  margin-left: -20px;
  td {
    height: 60px;
    color: #212529;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
  }
}
