@import "~app.scss";
.absolute-login-widget {
  &:hover {
    cursor: default;
    background-color: transparent !important;
  }
  position: absolute;
  padding: 0 50px;
  right: 0;
  i {
    cursor: pointer;
    padding-left: 10px;
  }
}
