@import "~app.scss";
.football-field-wrapper {
  padding: 10px;
  .north-socket, .south-socket {
    height: 22px;
    width: 100%;
  }
  .north-socket {
    background: url(/img/socet.png) center top 0 no-repeat;
  }
  .south-socket {
    transform: rotate(180deg);
    background: url(/img/socet.png) center top 0 no-repeat;
  }
  .football-field {
    .tactic-line {
      img {
        position: relative;
        z-index: 1000;
        cursor: pointer;
      }
      &:last-child {
        width: 60%;
        margin: 0 auto;
      }
      align-items: center;
      svg {
        cursor: pointer;
      }
      display: flex;
      justify-content: space-evenly;
      height: auto;
      width: 100%;
    }
    position: relative;
    .left-top-corner{
      background: url(/img/corner.png) no-repeat;
      background-size: 60%;
      width: 47px;
      height: 37px;
      position: absolute;
      left: -4px;
      top:-4px;
    }
    .left-bottom-corner{
      background: url(/img/corner.png) no-repeat;
      background-size: 60%;
      width: 47px;
      height: 37px;
      position: absolute;
      left: -4px;
      bottom:-4px;
      @include rotate(180deg);
      @include mirrorY();
    }
    .right-top-corner {
      background: url(/img/corner.png) no-repeat;
      background-size: 60%;
      width: 47px;
      height: 37px;
      position: absolute;
      right: -4px;
      top:-4px;
      @include mirror();
    }
    .right-bottom-corner {
      background: url(/img/corner.png) no-repeat;
      background-size: 60%;
      width: 47px;
      height: 37px;
      position: absolute;
      right: -4px;
      bottom:-4px;
      @include rotate(180deg);
    }
    .football-field-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -55px;
      width: 110px;
      height: 110px;
      background: url(/img/Ñircle.png) right bottom no-repeat;
      background-size: 100%;
      margin-left: -55px;
    }
    border: solid 4px white;
    background: url(/img/field-pattern.png) right bottom repeat;
    .north-side {
      border-bottom: solid 2px white;
      background: url(/img/socet.png) center -20px no-repeat;
      background-size: 60%;
    }
    .south-side {
      .tactic-line {
        img {
          @include mirrorY();
        }
      }
      border-bottom: solid 2px white;
      background: url(/img/socet.png) center top -20px no-repeat;
      background-size: 60%;
      @include rotate(180deg);
    }
    .lines-4 {
      .tactic-line {
        height: 25%;
      }
    }
    .lines-2 {
      .tactic-line {
        height: 50%;
      }
    }
    .lines-3 {
      .tactic-line {
        height: 33%;
      }
    }
    .lines-5 {
      .tactic-line {
        height: 20%;
      }
    }
    .lines-6 {
      .tactic-line {
        height: 17%;
      }
    }
    .lines-7 {
      .tactic-line {
        height: 14%;
      }
    }
  }
  > div p {
    font-weight: bold;
    color: white;
  }
  background-color: $green;
}
