@import "~app.scss";

.left-col {
  border: solid 1px $grey;
  padding-top: 10px;
  .game-form {
    &.passive {
      opacity: 0.7;
    }
    input, select, textarea {
      //-webkit-appearance: none;
      border-radius: 0;
      padding: 10px;
      border: solid 1px $grey;
    }
    legend {
      font-size: 16px;
    }
    label {
      font-size: 12px;
    }
    .submit-btn {
      &:hover {
        color: $white;
      }
      background-color: $green;
      color: $white;
      border-radius: 0;
    }
    .flex {
      display: flex;
    }
  }
}

.right-col {
  border: solid 1px $grey;
  padding: 20px;
  border-left: 0;
  .width-100 {
    width: 100%;
  }
}
