@import "~app.scss";
.game {
  .left-col {
    order: 1;
    flex: 1;
  }
  .right-col {
    flex: 1;
    padding-top: 10px;
    order: 2;
    .flags-info {
      .game-info, .teems-vs-flags {
        width: 50%;
      }
      display: flex;
    }
  }
}

@media only screen and (max-width: $min-with-ipad) {
  .game {
    .left-col {
      border: 0;
    }
    .north-side, .south-side {
      background-position-y: -30px !important;
    }
    flex-direction: column;
  }
}
