.loginWithGoogle {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &:hover {
      background-color: darken( #007bff, 5);
    }
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
}
