@import "~app.scss";

.main-menu {
  background-color: $black;
  height: 65px;
  position: relative;
  div {
    height: 100%;
  }
  ul {
    height: 100%;
    padding: 0;
    margin: 0;
    li {
      @include transition(background-color, 0.5s);
      a {
        text-decoration: none;
        color: $white;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 50px;
      }
      &:hover {
        background-color: $green;
        background-image: none;
      }
      cursor: pointer;
      display: inline-flex;
      list-style: none;
      height: 100%;
      color: $white;
      align-items: center;
      background-image: linear-gradient(to right, $black , $light-black);
    }
  }
}

@media only screen and (max-width: $mobile-limit+px) {
  .main-menu {
    .container {
      display: flex;
      .switcher {
        color: $white;
        font-size: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-right: 20px;
      }
    }
    ul {
     position: relative;
      visibility: hidden;
     // flex: 1;
      z-index: 100;
      li {
        @include transition(background-color, 0s);
        display: block;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: $mobile-limit+1+px) {
  .main-menu {
    ul {
      visibility: visible !important;
    }
    .container {
      .switcher {
        display: none;
      }
    }
  }
}
