@import "../../../app.scss";
.game-info {
  div {
    border-bottom: dotted 0.5px #ccc;
    display: flex;
    div {
      width: 50%;
    }
  }
}
@media only screen and (max-width: $max-with) {
  .flags-info {
    display: flex;
    flex-direction: column;
    > div {
      width: 100% !important;
    }
  }
}
