@import "~app.scss";

.game-sessions-greed {
  table {
    th, td {
      font-size: 1em;
      justify-content: left;
      text-align: left;
    }
    tbody{
      tr {
        cursor: pointer;
        &:hover {
          background-color: darken(white, 5);
        }
      }
    }
  }
}
//.list-header {
//  th {
//    &:first-child {
//      padding: 0;
//      width: 100px;
//    }
//    &:last-child {
//      width: 100px;
//    }
//    padding-top: 10px;
//    padding-bottom: 15px;
//    padding-left: 20px;
//    font-size: 24px;
//    font-weight: normal;
//  }
//}
//.games-list {
//  width: 100%;
//}
//
//.head-game-list {
//  .address, .time, .players {
//    display: none;
//  }
//}
//@media only screen and (min-width: $mobile-limit+px) {
//  .head-game-list {
//    display: flex;
//    .address {
//      display: flex;
//      width: calc(30%);
//      padding-left: 10px;
//    }
//    .district {
//      display: flex;
//      width: calc(30%);
//      div {
//        text-align: center !important;
//      }
//    }
//    .time {
//      display: flex;
//      width: 30%;
//      padding-left: 10px;
//    }
//    .players {
//      display: flex;
//      width: 20%;
//      padding-left: 10px;
//    }
//    .table-label {
//      align-items: center;
//      font-size: 18px;
//      font-weight: bold;
//    }
//  }
//}
