{
  "extends": ["google"],
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-extra-semi": "off",
    "semi": "off",
    "quotes": [1, "single", "avoid-escape"]
  }
}
